body {
    font-family: 'Nanum Myeongjo', serif;

}

marquee {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 83.333% */
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.fix-btn {
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 50%;
    color: white;
    color: #FFF;
    text-align: center;


    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    text-transform: uppercase;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 2;
}
marquee span{
    background:  rgb(74, 163, 235) 50% / cover no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg, #ff8a00, #e52e71, #a600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_burger {}

.header_logo {
    color: #000;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 100% */
    text-transform: uppercase;
    transform: translateX(50 px);
}

.icons {}

.header_icon {}

.hero {
    background-image: url(/img/Frame.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero__title {
    color: #000;
    text-align: center;
    font-family: Ogg;
    font-size: 118px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px;
    /* 101.695% */


    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
}
.info {
    background: linear-gradient(242deg, #FFF 0.5%, rgba(255, 255, 255, 0.00) 80.8%), rgba(234, 193, 191, 0.64);
}
.container {
}
.infp__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}
.info__box {
}
.info__text {
    color: #000;

font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 68px; /* 141.667% */
}
.info__btn {
    color: #FFF;
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
text-transform: uppercase;

border-radius: 32px;
background: #000;
padding: 15px 35px;
margin-top: 80px;
}
.info__img {
    min-width: 800px;
    width: 100%;

}
.save {
    padding: 100px 0;
}
.save__wrapper {
    display: flex;
    align-items: center;
   
    gap: 100px;
}
.save__img {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 32px;
    max-width: 540px;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/crystals.png);

}

.save__img:hover .save__btn{
    opacity: 1;

}

.save__btn {
    color: #000;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
text-transform: uppercase;

opacity: 0;

border-radius: 32px;
background: rgba(255, 255, 255, 0.80);

padding: 15px 32px;
}
.save__box {
    max-width: 250px;
    text-align: center;
    gap: 40px;
    flex-direction:column ;
    display: flex;
    
}
.save__text {
    color: #000;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.save__name {
    color: #000;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 106.667% */
text-transform: uppercase;
}